.page {

  /* min-height: 100svh ensures that the element's height will always be at least
  as tall as the smallest dimension of the viewport. So, if the viewport is in a
  portrait or landscape orientation, the element will adapt to the smaller side. */
  min-height: 100svh;
  padding: 0 80px 0;
  
  color: rgb(210, 216, 223);
  padding: 3rem 1.5rem;
}

@media (min-width: 768px) {
  .page {
    padding: 4rem 3rem;
  }
}

@media (min-width: 1024px) {

  .page {
    padding-top: 0;
    padding-bottom: 0;
  }

  .flexContainer {
    display: flex;
    justify-content: space-between;
    gap: 1rem; /* 16px */
    width: 100%;
  }


  .header {

    position: sticky;
    top: 0;
    display: flex;
    max-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 6rem;
    padding-bottom: 6rem;


  }
}

.header {
  flex: 1;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}


@media (min-width: 1024px) {


  .main {

    padding-top: 6rem;
    padding-bottom: 6rem;


  }
}


.main ol {
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}




