.mb-4 {
    margin-bottom: 1rem;
}

.mt-3 {
 margin-top: 0.75rem;
}

.mt-4 {
    margin-top: 1rem;
}

.mt-16 {
    margin-top: 4rem;
}

.w-max {
    width: max-content;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.max-w-screen-xl {
    max-width: 1280px;
}